*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.card{
  width: 90%;
  max-width: 470px;
  background: teal;
  margin: 20px auto 0;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.search{
  width: 100%;
  padding-bottom: 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: 0;
  outline: 0;
  background: rgb(184, 183, 183);
  color: white;
  padding: 5px;
  border-radius: 15px;
  height: 40px;
}

.search button{
  border: 0;
  outline: 0;
  background: rgb(184, 183, 183);
  color: white;
  padding: 5px;
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
}

.date{
  padding: 10px;
  color: rgb(154, 241, 243);
  font-size: 30px;
}

.temp{
  padding: 5px;
  color: white;
  font-size: 30px;
}

.city{
  padding: 5px;
  color: white;
  font-size: 30px;
}

.conditions{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.humidity{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 23px;
}

.wind{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 23px;
}
